table.table-fixed {
  table-layout: fixed;
}

table.table-fixed td {
  vertical-align: middle !important;
}

.label-tag {
  margin-right: 2px;
}
.label .times {
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  font-size: 14px;
  margin-left: 2px;
}
.label .times:hover {
  opacity: 1;
}

.btn-gr-code{
    background-image: url("../img/qrcode.png");
    width: 42px;
    height: 42px;
}
.vote-yes{
    color: #5cb85c;
}
.vote-no{
    color: #c9302c ;
}
.vote-refrained{
    color: #000000;
}
.result-accept{
    color: #337ab7;
}
.result-rejected{
    color: #c9302c ;
}
.btn-vote{
    margin-left: 20px;
}
.btn-group,
input,
textarea{
    width:100%;
}
form {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: inherit;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="inputLogin"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.table-session div{
    margin-top: 11px;
}
.modal-footer{
    text-align: center;
}
