﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Narada</title>
    <script language="javascript">
        var VIEW_ROOT_URL = "" ;
    </script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></sc2ript>
    <script src="lib/respond.min.js"></script>
    <![endif]-->
    <script src="lib/angular-ui-bootstrap/ui-bootstrap-csp.css"></script>
</head>

<body ng-app="app" ng-controller="AppController" ng-cloak>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#agenda">Narada</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#registration">Реєстрація</a></li>
                <li class="active"><a href="#agenda">Порядок денний</a></li>
            </ul>
            <form class="navbar-form navbar-right" name="loginForm" novalidate>
                <div class="form-group" ng-if="!isLogin">
                    <input type="text" placeholder="Логiн" ng-model="model.login" class="form-control" required>
                </div>
                <div class="form-group" ng-if="!isLogin">
                    <input type="password" placeholder="Пароль"  ng-model="model.password" class="form-control" required>
                </div>
                <button type="submit" ng-if="!isLogin" class="btn btn-success" ng-click="submit(loginForm)">Увійти</button>
                <button type="submit" ng-if="isLogin" class="btn btn-success" ng-click="signOut()">Вийти</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" ui-view>
    </div>
</div>
<!-- /.container -->

<!-- Libraries -->
<script src="lib/jquery.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-cookies.min.js"></script>
<script src="lib/angular-qr/qrcode.js"></script>
<script src="lib/angular-qr/angular-qr.min.js"></script>
<script src="lib/ui-bootstrap.min.js"></script>
<script src="lib/ui-bootstrap.min.js"></script>
<script src="lib/uuid.js"></script>
<script src="lib/angular-ui-bootstrap/ui-bootstrap.js"></script>
<script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Application Scripts -->
<!-- Configuration -->
<script src="app/app.config.js"></script>
<script src="app/app.routes.js"></script>
<script src="app/app.runner.js"></script>

<!-- Common -->
<script src="app/common/services/dbService.js"></script>
<script src="app/common/services/loginService.js"></script>
<script src="app/common/services/agendaFactory.js"></script>
<script src="app/common/services/onesignal.service.js"></script>

<!-- Services -->
<script src="app/appController.js"></script>
<script src="app/index/indexController.js"></script>
<script src="app/agenda/agendaController.js"></script>
<script src="app/registration/registartionController.js"></script>
<script src="app/registration/add.controller.js"></script>
<script src="app/newQuestion/newQuestionController.js"></script>
<script src="app/votes/votesController.js"></script>
<script src="app/registration/registrationModalController.js"></script>

</body>

</html>
