<div class="container" style="padding-top: 50px;">
    <div class="page-header">
        <h1>Нове питання</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="dataForm" novalidate>
                <div class="form-group text-left">
                    <div class="col-md-2">
                        <label>Заголовок</label>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <input name="title" ng-model="title" type="text" required>
                            <div class="alert alert-warning" role="alert"
                                   ng-show="dataForm.title.$error.required && dataForm.$submitted">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-left">
                    <div class="col-md-2">
                        <label>Суть питання</label>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <textarea id="textarea" rows="7" ng-model="description" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group text-left">
                    <div class="col-md-2">
                        <label>Група</label>
                    </div>
                    <div class="col-md-10">
                      <select class="form-control" ng-model="group" ng-init="group = 'All'">
                        <option value="All" selected>Всi</option>
                        <option value="tag1">Група 1</option>
                        <option value="tag2">Група 2</option>
                        <option value="tag3">Група 3</option>
                      </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-warning" ng-click="closeClick()">Закрити</button>
            <button type="button" class="btn btn-success" ng-click="addClick(dataForm)">Додати</button>
        </div>
    </div>
</div>
