<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close()">&times;</button>
    <h4 class="modal-title">{{$ctrl.model.name}}</h4>
</div>
<div class="modal-body text-center">
    <!--<qrcode version="5" error-correction-level="M" size="200" data="string" id="qr-code" download></qrcode>-->
    <qr type-number="8" correction-level="'M'" size="200" text="$ctrl.qrCode" image="true"></qr>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-success" ng-click="$ctrl.close()">Закрити
    </button>
</div>