<div class="container" style="padding-top: 50px;">
    <div class="page-header">
        <h1>Результати голосування</h1>
        <h2>Питання: {{title}}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ФIО</th>
                    <th>Голос</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in deputies">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td><div class="result-accept" ng-if="item.vote == type_answer.yes">За</div>
                        <div class="result-rejected" ng-if="item.vote == type_answer.no">Проти</div>
                        <div ng-if="item.vote == type_answer.abstained">Утримався</div>
                        <div ng-if="item.vote == type_answer.missing">Відсутній</div>
                        <div ng-if="item.vote == type_answer.no_vote">Не голосував</div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-success" ng-click="backClick()">Назад</button>
        </div>
    </div>
</div>