<div class="container" style="padding-top: 50px;" >
    <div class="page-header">
        <h1>Порядок денний</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Тема</th>
                    <th>Голоса</th>
                    <th>Статус</th>
                    <th>Група</th>
                    <th ng-if="isLogin">Переголосувати</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in issues| orderBy: 'title'">
                    <td>{{ $index + 1 }}</td>
                    <td>{{item.title}}</td>
                    <td>
                        <div ng-if="item.vote" type="button" class="btn" ng-click="votesClick(item)">
                            <span class="label label-success">{{item.vote.accept.length}}</span>
                            <span class="label label-danger">{{item.vote.reject.length}}</span>
                            <span class="label label-default">{{item.vote.abstained.length}}</span>
                        </div>
                        <button ng-if="!item.vote && isLogin" type="button" class="btn btn-primary btn-vote" data-toggle="modal" data-target="#counter-modal" ng-click="startVoteClick(item)">Голосувати</button>
                    </td>
                    <td><div ng-if="!item.vote">Не розглядалося</div>
                        <div ng-if="item.vote && item.vote.state == 'accept'" class="result-accept">Прийнято</div>
                        <div ng-if="item.vote && item.vote.state != 'accept'" class="result-rejected">Відхилено</div>
                    </td>
                    <td>
                      <span ng-switch="item.group">
                        <span ng-switch-when="tag1">Група 1</span>
                        <span ng-switch-when="tag2">Група 2</span>
                        <span ng-switch-when="tag3">Група 3</span>
                        <span ng-switch-default="tag1">Всi</span>
                      </span>
                    </td>
                    <td  ng-if="isLogin"><button type="button" ng-if="item.vote" class="btn btn-warning" data-toggle="modal" data-target="#counter-modal"  ng-click="startVoteClick(item)">Переголосувати</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center"  ng-if="isLogin">
          <hr>
            <button class="btn btn-default" ng-click="clearAll()">Очистити</button>
            <button type="button" class="btn btn-success" ng-click="addClick()">Додати</button>
            <hr>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="counter-modal" role="dialog" data-backdrop="static" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h3 class="modal-title">Iде голосування</h3>
                    <h4 class="modal-title2">{{modal_title2}}</h4>
                </div>
                <div class="modal-body text-center">
                    <h1>{{counter}}</h1>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-warning" ng-click="closeClick()" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>
</div>
