<div class="container" style="padding-top: 50px;">
    <div class="page-header">
        <h1>Додати депутата</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="dataForm" novalidate>
                <div class="form-group text-left">
                    <div class="col-md-2">
                        <label>ФIО</label>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <input name="name" ng-model="name" type="text" required>
                            <div class="alert alert-warning" role="alert"
                                   ng-show="dataForm.name.$error.required && dataForm.$submitted">
                                Обов'язкове поле
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-warning" ng-click="closeClick()">Закрити</button>
            <button type="button" class="btn btn-success" ng-click="addClick(dataForm)">Додати</button>
        </div>
    </div>
</div>
