<div class="container" style="padding-top: 50px;">
    <div class="page-header">
        <h1>Реєстрація</h1>
        <h2>Зареєстрованно {{countRegistDeputies}} iз {{countDeputies}}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-fixed">
                <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-4">ФIО</th>
                    <th ng-if="isLogin" class="col-md-1">Qr-code</th>
                    <th class="col-md-2">Статус</th>
                    <th class="col-md-3">Групи</th>
                    <th ng-if="isLogin" class="col-md-1">
                      temp
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in deputies">
                    <td>{{ $index + 1 }}</td>
                    <td>{{item.name}}</td>
                    <td ng-if="isLogin">
                        <button type="button" class="btn btn-info" ng-click="$ctrl.open(item)">
                            <i class="glyphicon glyphicon-qrcode"></i>
                        </button>
                    </td>
                    <td>
                        <div ng-if="!item.status" class="result-rejected">не зареєстрований</div>
                        <div ng-if="item.status" class="result-accept">зареєстрований</div>
                    </td>
                    <td>
                      <!-- <p>{{item.deviceId}}</p> -->
                      <div class="label label-primary label-tag" ng-repeat="(tag, v) in item.device.tags">
                        {{v}} <span class="times" ng-click="$ctrl.tag(item, item.device.tags, tag)">&times;</span>
                      </div>
                    </td>
                    <th ng-if="isLogin">
                      <button ng-if="item.status" type="button" class="btn btn-warning" ng-click="$ctrl.unreg(item)">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                      </button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
          <hr>
          <button ng-if="isLogin" class="btn btn-default" ng-click="clearAll()">Очистити</button>
          <button ng-if="isLogin" class="btn btn-primary" ng-click="addClick()">Додати</button>
          <hr>
        </div>
    </div>
</div>
